# Syncthing の基本設定です。

# 各ポートの意味:
# WEB_UI_PORT   ... 管理画面
# SYNC_TCP_PORT ... 同期用 TCP
# SYNC_UDP_PORT ... 同期用 UDP
# DISCOVERY_PORT... ローカル discovery
WEB_UI_PORT=8384
SYNC_TCP_PORT=22000
SYNC_UDP_PORT=22000
DISCOVERY_PORT=21027

# 永続化データの保存先です。
HOST_DATA_DIR=./data
SYNCTHING_CONFIG_DIR=./data/config
SYNCTHING_STORAGE_DIR=./data/storage

# LinuxServer イメージ用の実行ユーザーです。
PUID=1000
PGID=1000

# コンテナ内タイムゾーンです。
TZ=Asia/Tokyo

# Syncthing 上のデバイス名です。
HOSTNAME=my-syncthing
